
body {
  box-sizing:border-box;
  padding:0;
  margin:0;
}

#root {
  background:blue;
  height:100vh;
  width:100vw;
  display:flex;
  justify-content:center;
  align-items:center;
}

.quote-box {
  height:300px;
  width:600px;
  background-color:white;
  padding-right:40px;
  padding-left:40px;
}

.quote-container {
  height:60%;
  display:flex;
  flex-direction:column;
  align-items:flex-end;
  justify-content:center;
/*   padding:40px; */
}

#quote {
  font-size:30px;
  text-align:center;
}

#quote-author {
  font-size:20px;
  display:flex;
  justify-content:flex-end;
}

.new-quote-container {
  display:flex;
  justify-content:space-between;
}

.socials {
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:10px;
}

.button {
  height:50px;
  width:50px;
  background-color:red;
  color:white;
  border:1px solid black;
  cursor:pointer;
}

#new-button {
  width:100px
}